<!DOCTYPE html>
<html lang="en">
<head>
	<title>AngularJS Form Example</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <form ng-app ng-controller="OrderFormController">
    <h1>Services</h1>
    <ul>
      <!--
          Loop through the services array, assign a click handler, and set/remove the "active" CSS
          class if needed
      -->
      <li ng-repeat="service in services" ng-click="toggleActive(service)" ng-class="{active:service.active}">
        <!-- Currency filter to format the price -->
        {{service.name}} <span>{{service.price | currency}}</span>
      </li>
    </ul>
    <div class="total">
      <!-- Calculate the total price of all the chosen services, and format the total as a currency -->
      Total: <span>{{total() | currency}}</span>
    </div>
  </form>
  <script src="index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</body>
</html>